Repository gianlucamazza/website_ai-knowledge: changes, and which Codecov flags are due for each by the changed paths.
All: python-tests, frontend-tests

docs: Update README with GitHub repository information
  README.md
Due: none

fix: Update CI/CD workflows and configure database
  .github/workflows/quality-gates.yml
  .github/workflows/test-and-coverage.yml
  docs/DATABASE_OPTIONS.md
  docs/SECRETS_CONFIGURATION.md
  docs/SUPABASE_CONNECTION_GUIDE.md
  scripts/init_database.py
Due: none

feat: Add Astro site application files
  apps/site/astro.config.mjs
  apps/site/package-lock.json
  apps/site/package.json
  apps/site/public/favicon.svg
  apps/site/security.config.js
  apps/site/src/content/config.ts
  apps/site/src/content/glossary/agent.md
  apps/site/src/content/glossary/machine-learning.md
  apps/site/src/content/glossary/transformer.md
  apps/site/src/content/taxonomies/categories.json
  apps/site/src/content/taxonomies/tags.json
  apps/site/src/env.d.ts
  apps/site/src/layouts/BaseLayout.astro
  apps/site/src/layouts/GlossaryLayout.astro
  apps/site/src/pages/about.astro
  apps/site/src/pages/articles/index.astro
  apps/site/src/pages/glossary/[...slug].astro
  apps/site/src/pages/glossary/index.astro
  apps/site/src/pages/index.astro
  apps/site/tests/e2e/playwright.config.js
  apps/site/tests/e2e/site-functionality.spec.js
  apps/site/tests/setup.js
  apps/site/tests/unit/components.test.js
  apps/site/tests/vitest.config.js
  apps/site/tsconfig.json
Due: frontend-tests

fix(security): Critical security improvements and vulnerability fixes
  apps/site/security.config.js
  docs/ARCHITECTURE_VALIDATION_REPORT.md
  pipelines/config.py
  pipelines/database/connection.py
  pipelines/database/models.py
  pipelines/ingest/scraper.py
  pipelines/orchestrators/langgraph/nodes.py
  pipelines/orchestrators/langgraph/workflow.py
  pipelines/security/__init__.py
  pipelines/security/input_validator.py
  security/secrets_manager.py
Due: python-tests

test: Complete test infrastructure and fix CI/CD pipelines
  .coveragerc
  .github/workflows/test-and-coverage.yml
  apps/site/package.json
  apps/site/tests/e2e/global-setup.js
  apps/site/tests/e2e/global-teardown.js
  apps/site/vitest.config.js
  coverage.config.js
  pytest.ini
  run_tests.sh
  tests/config/test_settings.py
  tests/database/test_database_operations.py
  tests/integration/test_pipeline_integration.py
  tests/performance/test_performance_benchmarks.py
  tests/security/test_security_validation.py
Due: none

fix: comprehensive CI/CD test infrastructure fixes
  .github/workflows/ci.yml
  .github/workflows/test-and-coverage.yml
  CI_CD_TEST_FIXES.md
  pipelines/dedup/lsh_index.py
  pipelines/requirements-dev.txt
  tests/fixtures/security/sql_payloads.json
  tests/fixtures/security/xss_payloads.json
Due: python-tests

security: fix critical shell injection and SQL injection vulnerabilities
  .github/workflows/content-pipeline.yml
  apps/site/package-lock.json
  pipelines/database/connection.py
Due: python-tests

fix: JSX test file extension and Vitest configuration
  apps/site/tests/unit/components.test.js
  apps/site/vitest.config.js
Due: none

fix(ci): resolve critical CI/CD pipeline failures
  .gitignore
  apps/site/.markdownlint.json
  apps/site/jest.config.js
  apps/site/middleware/csp-nonce.js
  apps/site/middleware/security.js
  apps/site/playwright.config.js
  apps/site/tests/unit/components.test.jsx
  apps/site/vitest.config.js
Due: none

fix(security): resolve GitHub Actions security workflow failures
  .github/workflows/security.yml
  .github/workflows/test-and-coverage.yml
Due: none

fix(ci): Enhance security workflow configuration
  .github/workflows/security.yml
Due: none

fix(e2e): Convert Playwright config to ES module syntax
  apps/site/playwright.config.js
Due: none

feat(ci): implement comprehensive act configuration for local GitHub Actions testing
  .actrc
  .env.act
  .github/workflows/act-compatible-test.yml
  .github/workflows/dependency-update.yml.broken
  .input
  .secrets
  .secrets.example
  .secrets.real
  Makefile
  act-installation.sh
  act-services/docker-compose.yml
  act-services/init-scripts/01-init-test-db.sql
  act-services/wiremock/mappings/anthropic-api-mock.json
  act-services/wiremock/mappings/openai-api-mock.json
  apps/site/playwright-results.json
  apps/site/playwright-results.xml
  apps/site/tests/reports/test-summary.json
  docs/ACT_DEVELOPER_GUIDE.md
  scripts/setup-real-secrets.sh
Due: none

fix(content): resolve markdown linting issues in glossary entries
  apps/site/src/content/glossary/agent.md
  apps/site/src/content/glossary/machine-learning.md
  apps/site/src/content/glossary/transformer.md
Due: frontend-tests

fix(security): resolve all npm vulnerabilities and migrate to Astro 5
  apps/site/package-lock.json
  apps/site/package.json
  apps/site/src/content.config.ts
  apps/site/src/layouts/GlossaryLayout.astro
  apps/site/src/pages/articles/index.astro
  apps/site/src/pages/glossary/[...slug].astro
  apps/site/src/pages/glossary/index.astro
  apps/site/src/pages/index.astro
Due: frontend-tests

fix(ci): resolve CI/CD compatibility issues
  apps/site/package-lock.json
  pipelines/requirements.txt
Due: python-tests

feat(content): add comprehensive AI knowledge base with 25 glossary entries
  apps/site/playwright-results.json
  apps/site/playwright-results.xml
  apps/site/src/content/articles/test-article.md
  apps/site/src/content/glossary/artificial-intelligence.md
  apps/site/src/content/glossary/attention-mechanism.md
  apps/site/src/content/glossary/backpropagation.md
  apps/site/src/content/glossary/bert.md
  apps/site/src/content/glossary/cnn.md
  apps/site/src/content/glossary/deep-learning.md
  apps/site/src/content/glossary/embedding.md
  apps/site/src/content/glossary/fine-tuning.md
  apps/site/src/content/glossary/gan.md
  apps/site/src/content/glossary/gpt.md
  apps/site/src/content/glossary/gradient-descent.md
  apps/site/src/content/glossary/llm.md
  apps/site/src/content/glossary/lstm.md
  apps/site/src/content/glossary/neural-network.md
  apps/site/src/content/glossary/overfitting.md
  apps/site/src/content/glossary/prompt-engineering.md
  apps/site/src/content/glossary/rag.md
  apps/site/src/content/glossary/reinforcement-learning.md
  apps/site/src/content/glossary/rnn.md
  apps/site/src/content/glossary/supervised-learning.md
  apps/site/src/content/glossary/tokenization.md
  apps/site/src/content/glossary/unsupervised-learning.md
  apps/site/tests/reports/test-summary.json
  temp-articles/choosing-right-ml-algorithm.md
  temp-articles/getting-started-with-ai.md
  temp-articles/practical-prompt-engineering.md
  temp-articles/transformer-revolution.md
  temp-articles/understanding-neural-networks.md
Due: frontend-tests

feat(deploy): configure GitHub Pages deployment
  .github/workflows/deploy-github-pages.yml
  NEXT_STEPS.md
  apps/site/astro.config.mjs
  apps/site/src/layouts/BaseLayout.astro
  apps/site/src/pages/glossary/index.astro
  apps/site/src/pages/index.astro
  scripts/fix-github-pages-links.sh
Due: frontend-tests

fix(ci): resolve CI/CD pipeline issues
  README.md
  pipelines/__init__.py
  pipelines/config.py
  pipelines/database/__init__.py
  pipelines/database/connection.py
  pipelines/database/models.py
  pipelines/dedup/__init__.py
  pipelines/dedup/lsh_index.py
  pipelines/dedup/simhash.py
  pipelines/enrich/__init__.py
  pipelines/enrich/cross_linker.py
  pipelines/enrich/summarizer.py
  pipelines/exceptions.py
  pipelines/ingest/__init__.py
  pipelines/ingest/rss_parser.py
  pipelines/ingest/scraper.py
  pipelines/ingest/source_manager.py
  pipelines/logging_config.py
  pipelines/monitoring.py
  pipelines/normalize/__init__.py
  pipelines/normalize/content_extractor.py
  pipelines/normalize/html_cleaner.py
  pipelines/orchestrators/langgraph/__init__.py
  pipelines/orchestrators/langgraph/nodes.py
  pipelines/orchestrators/langgraph/workflow.py
  pipelines/publish/__init__.py
  pipelines/publish/markdown_generator.py
  pipelines/run_graph.py
  pipelines/security/__init__.py
  pipelines/security/input_validator.py
Due: python-tests

fix(ci): resolve remaining CI/CD issues
  apps/site/playwright.config.js
  pipelines/__init__.py
  pipelines/config.py
  pipelines/database/__init__.py
  pipelines/database/models.py
  pipelines/dedup/lsh_index.py
  pipelines/enrich/cross_linker.py
  pipelines/enrich/summarizer.py
  pipelines/ingest/source_manager.py
  pipelines/logging_config.py
  pipelines/monitoring.py
  pipelines/normalize/content_extractor.py
  pipelines/orchestrators/langgraph/nodes.py
  pipelines/orchestrators/langgraph/workflow.py
  pipelines/publish/markdown_generator.py
  pipelines/run_graph.py
  pipelines/security/__init__.py
  pipelines/security/input_validator.py
Due: python-tests

fix: address Bandit security warnings
  .bandit
  pipelines/config.py
  pipelines/database/connection.py
  pipelines/database/models.py
  pipelines/dedup/lsh_index.py
  pipelines/dedup/simhash.py
  pipelines/enrich/cross_linker.py
  pipelines/enrich/summarizer.py
  pipelines/ingest/rss_parser.py
  pipelines/ingest/source_manager.py
  pipelines/logging_config.py
  pipelines/monitoring.py
  pipelines/normalize/content_extractor.py
  pipelines/normalize/html_cleaner.py
  pipelines/orchestrators/langgraph/nodes.py
  pipelines/orchestrators/langgraph/workflow.py
  pipelines/publish/markdown_generator.py
  pipelines/run_graph.py
  pipelines/security/input_validator.py
  scripts/fix_bandit_issues.py
  scripts/fix_flake8_issues.py
Due: python-tests

fix: resolve CI/CD pipeline issues
  apps/site/playwright.config.js
  pytest.ini
Due: none

fix: improve database configuration handling
  pipelines/.env.example
  pipelines/config.py
Due: python-tests

feat: add 5 comprehensive AI articles to content collection
  apps/site/src/content/articles/choosing-right-ml-algorithm.md
  apps/site/src/content/articles/getting-started-with-ai.md
  apps/site/src/content/articles/practical-prompt-engineering.md
  apps/site/src/content/articles/transformer-revolution.md
  apps/site/src/content/articles/understanding-neural-networks.md
Due: frontend-tests

fix: correct URL generation for BASE_URL paths
  apps/site/src/layouts/BaseLayout.astro
  apps/site/src/pages/glossary/index.astro
  apps/site/src/pages/index.astro
  apps/site/src/utils/paths.ts
Due: frontend-tests

feat: comprehensive project documentation and quality improvements
  apps/site/astro.config.mjs
  apps/site/playwright-results.json
  apps/site/playwright-results.xml
  apps/site/playwright.config.js
  apps/site/src/content/articles/choosing-right-ml-algorithm.md
  apps/site/src/content/articles/getting-started-with-ai.md
  apps/site/src/content/articles/practical-prompt-engineering.md
  apps/site/src/content/articles/test-article.md
  apps/site/src/content/articles/transformer-revolution.md
  apps/site/src/content/articles/understanding-neural-networks.md
  apps/site/src/content/glossary/attention-mechanism.md
  apps/site/src/content/glossary/backpropagation.md
  apps/site/src/content/glossary/bert.md
  apps/site/src/content/glossary/gradient-descent.md
  apps/site/src/content/glossary/lstm.md
  apps/site/src/content/glossary/machine-learning.md
  apps/site/src/content/glossary/neural-network.md
  apps/site/src/content/glossary/overfitting.md
  apps/site/src/content/glossary/prompt-engineering.md
  apps/site/src/content/glossary/rag.md
  apps/site/src/content/glossary/tokenization.md
  apps/site/tests/reports/test-summary.json
  docs/MONITORING_GUIDE.md
  docs/SECURITY_OVERVIEW.md
  docs/TESTING_GUIDE.md
  fix_markdown_linting.py
  scripts/fix_markdown_violations.py
Due: frontend-tests

fix: apply Black code formatting to pipelines
  pipelines/config.py
  pipelines/database/connection.py
  pipelines/database/models.py
  pipelines/dedup/lsh_index.py
  pipelines/dedup/simhash.py
  pipelines/enrich/cross_linker.py
  pipelines/enrich/summarizer.py
  pipelines/exceptions.py
  pipelines/ingest/rss_parser.py
  pipelines/ingest/scraper.py
  pipelines/ingest/source_manager.py
  pipelines/logging_config.py
  pipelines/monitoring.py
  pipelines/normalize/content_extractor.py
  pipelines/normalize/html_cleaner.py
  pipelines/orchestrators/langgraph/nodes.py
  pipelines/orchestrators/langgraph/workflow.py
  pipelines/publish/markdown_generator.py
  pipelines/run_graph.py
  pipelines/security/input_validator.py
Due: python-tests

docs: Update test examples with AI-relevant content
  apps/site/src/content/articles/test-article.md
  docs/DEVELOPMENT_GUIDE.md
  docs/TESTING_GUIDE.md
Due: frontend-tests

fix(ci): Implement comprehensive CI/CD pipeline optimizations
  .github/workflows/cache-config.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml.broken
  .github/workflows/quality-gates.yml
  .github/workflows/test-and-coverage.yml
  .port-allocation.json
  CI_CD_PHASE1_IMPLEMENTATION.md
  pipelines/requirements-ci.txt
  scripts/generate-analysis-summary.py
  scripts/install-dependencies.sh
  scripts/port-allocator.js
  test-analysis.md
Due: python-tests

fix(ci): Fix DEV_SERVER_PORT configuration and security scan error handling
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .gitignore
  .input
  .port-allocation.json
  .secrets.real
Due: none

security: remove exposed secrets and enhance gitignore protection
  .gitignore
  .secrets
Due: none

refactor: improve project organization and fix broken references
  .actrc
  .bandit
  .coveragerc
  .env.act
  .github/workflows/ci.yml
  README.md
  configs/.actrc
  configs/.bandit
  configs/.coveragerc
  configs/.env.act
  configs/README.md
  docs/ci-cd/CI_CD_PHASE1_IMPLEMENTATION.md
  docs/ci-cd/CI_CD_README.md
  docs/ci-cd/CI_CD_TEST_FIXES.md
  docs/ci-cd/README.md
  scripts/port-allocator.js
  scripts/setup-real-secrets.sh
Due: none

fix(ci): resolve GitHub Actions workflow issues
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/test-and-coverage.yml
  pipelines/requirements-dev.txt
Due: python-tests

fix: comprehensive CI/CD improvements for test stability
  .github/workflows/test-and-coverage-fixed.yml
  .github/workflows/test-and-coverage.yml
  apps/site/playwright.config.js
  pipelines/requirements-ai.txt
  pipelines/requirements-ci-new.txt
  pipelines/requirements-core.txt
  pipelines/requirements-dev.txt
  scripts/health-check.js
  scripts/install-dependencies-improved.sh
  scripts/port-allocator.js
Due: python-tests

fix: resolve CI/CD workflow failures
  .github/workflows/security.yml
  .github/workflows/test-and-coverage.yml
Due: none

fix: critical CI/CD issues for Python and E2E tests
  .github/workflows/test-and-coverage.yml
  apps/site/playwright.config.js
Due: none

fix: critical security and reliability improvements for CI/CD
  .github/actions/circuit-breaker/action.yml
  .github/actions/health-check/action.yml
  .github/workflows/cache-config.yml
  .github/workflows/test-and-coverage-enhanced.yml
  bandit-report.json
  safety-report.json
  semgrep-results.json
Due: none

fix: resolve critical security issues and workflow failures
  scripts/link_checker.py
  scripts/validate_content.py
  tests/conftest.py
Due: none

fix: improve npm security audit handling and false positive detection
  .github/workflows/security.yml
  apps/site/.npmrc
  apps/site/package-lock.json
Due: none

Path conditions:
  python-tests: any of: pipelines/
  frontend-tests: any of: apps/site/src/
